<!-- Subintro
================================================== -->
<section id="subintro">
    <div class="container">
        <div class="row">
            <div class="span4 offset8">
                <div class="search">
                    <form class="input-append">
                        <input class="search-form" id="appendedPrependedInput" type="text"
                            placeholder="Procure seu livro aqui..." />
                        <button class="btn btn-dark" type="submit"><i class="icon-search"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>