<!-- Site Name -->
<title>eBooks.IO - Sobre</title>

<!-- Subintro
================================================== -->
<section id="subintro">
  <div class="container">
    <div class="row">
      <div class="span8">
        <ul class="breadcrumb">
          <li><a href="/"><i class="icon-home icon-rounded active"></i></a><i class="icon-angle-right"></i>
          </li>
          <li><a href="/sobre">Sobre Nós</a></li>
        </ul>
      </div>
      <div class="span4">
        <div class="search">
          <form action="/busca" method="GET" class="input-append">
            <input class="search-form" id="appendedPrependedInput" name="search" type="text"
              placeholder="Procure seu livro aqui..." required>
            <button class="btn btn-dark" type="submit"><i class="icon-search"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Conteúdo
================================================== -->
<section id="maincontent">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>Bem-vindo ao eBooks.IO</h2>
        <h5><i class="icon-info-sign icon-circled icon-32 active"></i> Nós te ajudamos a navegar pelas suas
          histórias favoritas!</h5>
      </div>
    </div>
    <div class="row">
      <div class="span5">
        <!-- start: Accordion -->
        <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                <i class="icon-minus"></i> Fundador</a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner" align="justify">
                <a href="https://www.linkedin.com/in/igor-bonato-matricardi/" target="_blank"> Igor Bonato
                  Matricardi</a>, discente de Engenharia de Computação da Universidade Federal de Itajubá -
                <i>Campus</i> Itabira.
                <br> Este site foi desenvolvido usando <a href="https://nodejs.org/en/" target="_blank">Node.js</a> em
                conjunto com os pacotes: <a href="https://www.npmjs.com/package/bcrypt" target="_blank">Bcrypt</a>, <a
                  href="https://www.npmjs.com/package/express" target="_blank">Express</a>, <a
                  href="https://www.npmjs.com/package/mongoose" target="_blank">Mongoose</a> e <a
                  href="https://www.npmjs.com/package/passport" target="_blank">Passport</a>, como trabalho para a
                disciplina de IHC (Interface Homem-Computador) e como fonte de aprendizado na linguagem, além de um
                pouco de diversão!
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                <i class="icon-plus"></i> Colaboradores</a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner" align="justify">
                Futuramente: Maiores Colaboradores do site (usuários que mais enviaram ebooks).
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                <i class="icon-plus"></i> Ajude-nos a melhorar nosso site</a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner" align="justify">
                Futuramente: formulário de Bugs.
              </div>
            </div>
          </div>
        </div>
        <!--end: Accordion -->
      </div>
      <div class="span7">
        <div class="centered">
          <img src="img/dummies/back.jpg" alt="Exercite sua mente lendo mais!" />
        </div>
      </div>
    </div>
</section>